@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap');@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Rubik+Broken+Fax&display=swap');@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




body{
    max-width: auto;
    background-image: linear-gradient(to bottom, #aa5304, #bd6518, #d17729, #e48939, #f89c49);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 2s;
}
header{
    width: 90%;
    display: flex;
    justify-content: center;
    height: 10vh;
    border-radius: 20px;
    border:  white 1px inset;
    box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    transition: all 1s;
}

.android{
    position: absolute;
    transform: translateX(-675px);
}
.android img{
    transform: translate(-50%, -50%);
    z-index: 1;
    transform: rotate(-45deg);
    transition: all 3s;
}

.container-tittle{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

.container-tittle .img-logo{
    opacity: 0.7;
    max-width: 100%;
    width: 22rem;
    height: 6rem;
}
.container-nav {
    width: 85%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #3333336c;
    padding: 20px;
    border-radius: 20px;
    border: white 2px inset;
    box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    transition: all 1s;

}
.container-nav a {
    font-family: "Roboto";
    margin: 0 30px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}
.container-nav a:hover{
    text-decoration: underline;
    font-size: 1.4;
}
.container-nav .modo {
    position: absolute;
    right: 10px;
}

.container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 12px;
    margin-bottom: 6px;
}
.img-celu{
    height: 40rem;
    width: 20rem;
    overflow: hidden;
    border-radius: 3%;
}
.container-img-txt{
    background: hsla(29, 95%, 34%, 1);
    background: linear-gradient(to bottom, hsla(29, 95%, 34%, 1) 52%, hsla(28, 77%, 42%, 1) 77%, hsla(28, 67%, 49%, 1) 99%, hsla(28, 76%, 56%, 1) 100%, hsla(28, 93%, 63%, 1) 100%);
    background: -moz-linear-gradient(to bottom, hsla(29, 95%, 34%, 1) 52%, hsla(28, 77%, 42%, 1) 77%, hsla(28, 67%, 49%, 1) 99%, hsla(28, 76%, 56%, 1) 100%, hsla(28, 93%, 63%, 1) 100%);
    background: -webkit-linear-gradient(to bottom, hsla(29, 95%, 34%, 1) 52%, hsla(28, 77%, 42%, 1) 77%, hsla(28, 67%, 49%, 1) 99%, hsla(28, 76%, 56%, 1) 100%, hsla(28, 93%, 63%, 1) 100%);    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aa5304", endColorstr="#bd6518", GradientType=0);
    margin-top: 2px;
    width: 90%;
    padding-top: 2rem;
    border-radius: 20px;
    border-bottom: black 2px double;
    padding-bottom: 6rem;
    display: flex;
    justify-content: center;
    border: white 1px inset;
    box-shadow: -4px 7px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -9px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 7px 5px 0px rgba(0,0,0,0.75);
    transition: all 1s;
}
.img-gif-der{
    height: 100%;
    display: flex;
    justify-content: center;
    width: 54%;
    z-index: 2;
}
.img-gif-izq{
    height: 100%;
    display: flex;
    justify-content: center;
    width: 54%;
    
}
.img_gif_estandar{
    border-radius: 3%;
    opacity: 0.0;
    transition: all 0.8s;
}
.trasform_left{
    transform:translateX(50%);
}
.trasform_right{
    transform: translateX(-50%);
}
.aparecer{
    transform: none;
    opacity: 1;
}
.text-bienvenida{
    background: linear-gradient(rgba(0, 0, 0, 0.450), rgba(0, 0, 0, 0.450)), url(../im1.png);
    background-size: cover;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 25px 85px;
    border: rgb(255, 255, 255) 3px double;
    height: 36rem;
    text-align: center;
    margin: 2rem 3rem;
    width: 74%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    width: 90%; /* Centra el texto */
    border: black 0.8px inset;
    background-color: #00000038;
    border-radius: 15px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.438);
}
.text-bienvenida h1{
    color: #f0b906;
    margin: 4px;
    font-size: 3.2rem;
}
.text-bienvenida p{
    max-width: 76%;
    text-align: center;
    margin: 0;
    font-size: 1.8rem;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
}
.text-bienvenida h4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.6rem;
}
.text-bienvenida ul{
    list-style-position:initial;
    margin: 0 auto; /* Centra la lista dentro del contenedor */
    padding-left: 6rem; /* Elimina el padding izquierdo de la lista */
    text-align: left; /* Alinea el texto de los ítems a la izquierda */
    max-width: 600px;
}
.text-bienvenida li{ /* Espacio entre cada ítem */
    line-height: 1.4;
    font-size: 1.3rem;
}
.text-precentation{
    opacity: 0;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    overflow: hidden;
    border: rgb(255, 255, 255) 3px double;
    height: 30rem;
    color: white;
    padding-top: 2rem;
    text-align: center;  
    justify-content: center;
    align-items: center;
    margin: 2rem 3rem;
    width: 70%;
    transition: all 1s;
}
.img-1{
    background: linear-gradient(rgba(0, 0, 0, 0.450), rgba(0, 0, 0, 0.450)), url(../proyectos.jpg);
    background-size: cover;
}
.img-2{
    background: linear-gradient(rgba(0, 0, 0, 0.450), rgba(0, 0, 0, 0.450)), url(../albanileria.jpg);
    background-size: cover;

}
.img-3{
    background: linear-gradient(rgba(0, 0, 0, 0.450), rgba(0, 0, 0, 0.450)), url(../obra.jpg);
    background-size: cover;
}
.text-precentation h2{
    color: #f0b906;
    margin: 0;
    padding-bottom: 8px;
    font-size: 2.5rem;
}
.text-precentation p{
    text-align: center;
    margin: 0;
    font-size:large;
    padding: 8px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: x-large;
}
.text-precentation h4{
    margin: 4px;
    font-size: larger;
}
.text-precentation ul{
    list-style-position:initial;
    margin: 4px auto; /* Centra la lista dentro del contenedor */
    padding-left: 0; /* Elimina el padding izquierdo de la lista */
    text-align: left; /* Alinea el texto de los ítems a la izquierda */
    max-width: 600px;
}
.text-precentation li{ /* Espacio entre cada ítem */
    line-height: 1.4;
    font-size: 1.1rem;
}
.aparecer-tex{
    opacity: 1;
    transform: none;
    transition: opacity 1s, transform 1s;
}
.modo{
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modo i{
    font-size: 2.2em;
    color: white;
}
.modo i:hover{
    cursor: pointer;
}
footer{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    background-color: #40281261;
    padding: 20px;
    border-radius: 20px;
    border: white 2px double;
    box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
    transition: all 1s;
}
footer .imgF {
    height: 6rem;
    width: 18rem;
    transform: translateX(7em);
}

footer .Fredes{
    margin-left: 40px;
    gap: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer .Ftelderechos{
    transform: translateX(8em);
}
footer .Fredes i{
    font-size: 2em;
}
footer li{
    color: white;
    font-size: 1.1em;
    list-style: none;
}
:root {
    --animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    --animation-duration: 1s;
    --animation-duration: 2s;
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: var(--animation-timing-function);
        animation-timing-function: var(--animation-timing-function);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        animation-timing-function: var(--animation-timing-function);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: var(--animation-timing-function);
        animation-timing-function: var(--animation-timing-function);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        animation-timing-function: var(--animation-timing-function);
    }
    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: var(--animation-timing-function);
        animation-timing-function: var(--animation-timing-function);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: var(--animation-timing-function);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    }

    75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    }

    90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    }

    to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    }

    60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    }

    75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    }

    90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    }

    to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 1s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

.zoomIn {
    -webkit-animation-duration: 5s; /* Duración específica para zoomIn */
    animation-duration: 5s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.animated {
    -webkit-animation-duration: var(--animation-duration);
    animation-duration: var(--animation-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
    }

    60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    }

    75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    }

    90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    }

    to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
    }

    60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    }

    75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    }

    90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    }

    to {
-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}
.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}