@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-image: linear-gradient(to bottom, #aa5304, #bd6518, #d17729, #e48939, #f89c49);
}
header{
    display: flex;
    justify-content: center;
    height: 10vh;
    border-radius: 10px;
    border-bottom:  white 1px inset;
    box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    transition: all 1s;
}
.container-tittle{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

.container-tittle .img-logo{
    opacity: 0.7;
    max-width: 100%;
    width: 22rem;
    height: 5.6rem;
}
.container-nav {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #3333336c;
    padding: 20px;
    border-radius: 10px;
    border: white 2px double;
    box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    transition: all 1s;
}
.container-nav a {
    font-family: "Roboto";
    margin: 0 30px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}
.container-nav a:hover{
    text-decoration: underline;
    font-size: 1.4;
}
.container-nav .modo {
    position: absolute;
    right: 10px;
}
.modo{
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modo i{
    font-size: 2.2em;
    color: white;
}
.modo i:hover{
    cursor: pointer;
}
.content{
    height: 60vh;
    display: flex;
    justify-content: center;
}
.text-precentation{
    background: linear-gradient(rgba(0, 0, 0, 0.450), rgba(0, 0, 0, 0.450)), url(../proyectos.jpg);
    border-radius: 85px 25px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    overflow: hidden;
    border: rgb(255, 255, 255) 2px double;
    height: 30rem;
    color: white;
    padding-top: 2rem;
    text-align: center;  
    justify-content: center;
    align-items: center;
    width: 80%;
    transition: all 1s;
    z-index: 1;
    box-shadow: -11px 11px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -11px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 11px 5px 0px rgba(0,0,0,0.75);
}
.android{
    width: 410px;
    position: absolute;
    transform: translateX(460px) translateY(-110px);
}
.android img{
    transform: translate(-50%, -50%);
    z-index: -1;
    transform: rotate(49deg);
}
.android2{
    position: absolute;
    transform: translateX(-700px) translateY(200px);
    z-index: 2;
}
.android2 img{
    transform: translate(-50%, -50%);
    transform: rotate(-10deg);
}
.text-precentation{
    padding: 0;
    display: flex;
    flex-direction: column;
}
.text-precentation h2 {
    margin: 0;
    transform: translateY(-50px);
    font-size: 2.5em;
}
.text-precentation p {
    transform: translateY(-30px);
    margin: 0;
    max-width: 800px;
    font-size: x-large;
}
.text-precentation a {
    transform: translateY(20px);
    margin-top: 1rem;
    padding-top: 1rem;
    font-size: x-large;
    text-decoration: none;
    color: white;
}
.text-precentation a:hover {
    text-decoration: underline;
    color: rgba(25, 0, 255, 0.733);
    font-weight: bold;
}
.text-precentation h3{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2.4rem;;
}
form {
    margin-bottom: 0;
    background-color: #85858538;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.438);
    max-width: 700px;
    width: 100%;
}

label {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: #ffffff11;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #05ad52;
    outline: none;
    box-shadow: 0 0 5px rgba(5, 173, 82, 0.3);
    background-color: whitesmoke;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #05ad52;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #049b48;
}
footer{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    background-color: #3333336c;
    padding: 20px;
    border-radius: 10px;
    border: white 2px double;
    box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
    transition: all 1s;
}
footer .imgF {
    height: 6rem;
    width: 18rem;
    transform: translateX(7em);
}

footer .Fredes{
    margin-left: 40px;
    gap: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer .Ftelderechos{
    transform: translateX(8em);
}
footer .Fredes i{
    font-size: 2em;
}
footer li{
    color: white;
    font-size: 1.1em;
    list-style: none;
}