@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-image: linear-gradient(to bottom, #aa5304, #bd6518, #d17729, #e48939, #f89c49);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 85%;
    display: flex;
    justify-content: center;
    height: 10vh;
    border-radius: 20px;
    border:  white 1px inset;
    box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    transition: all 1s;
}
.container-tittle{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

.container-tittle .img-logo{
    opacity: 0.7;
    max-width: 100%;
    width: 22rem;
    height: 5.6rem;
}
.container-nav {
    width: 85%;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #3333336c;
    padding: 20px;
    border-radius: 20px;
    border: white 2px double;
    box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 3px 5px 0px rgba(0,0,0,0.75);
    transition: all 1s;
}
.container-nav a {
    font-family: "Roboto";
    margin: 0 30px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}
.container-nav a:hover{
    text-decoration: underline;
    font-size: 1.4;
}
.container-nav .modo {
    position: absolute;
    right: 10px;
}
.modo{
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modo i{
    font-size: 2.2em;
    color: white;
}
.modo i:hover{
    cursor: pointer;
}
.content{
    height: 61svh;
    display: flex;
    justify-content: center;
    width: 85%;
}
.text-precentation{
    background: linear-gradient(rgba(0, 0, 0, 0.450), rgba(0, 0, 0, 0.450)), url(../imd.jpg);
    border-radius: 85px 25px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    overflow: hidden;
    border: rgb(255, 255, 255) 2px double;
    height: 28rem;
    color: white;
    text-align: center;  
    justify-content: center;
    align-items: center;
    width: 85%;
    transition: all 1s;
    z-index: 1;
    box-shadow: -11px 11px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -11px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 11px 5px 0px rgba(0,0,0,0.75);
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 60%; /* Centra el texto */
    background-color: #85858538;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.438);
}

.text h2 {
    margin-bottom: 4px;
    font-size: 2.4rem;
    color: #ffffff;
}

.text p {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.4rem;
    max-width: 600px;
    color: #ffffff;
}

.text a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: #05ad52;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.text a:hover {
    background-color: #05ad52;
}
.android{
    width: 410px;
    position: absolute;
    transform: translateX(360px) translateY(-110px);
}
.android img{
    transform: translate(-50%, -50%);
    z-index: -1;
    transform: rotate(38deg);
}
.android2{
    position: absolute;
    transform: translateX(-640px) translateY(178px);
    z-index: 2;
}
.android2 img{
    transform: translate(-50%, -50%);
    transform: rotate(-10deg);
}
.text-precentation a:hover {
    text-decoration: underline;
    color: rgba(25, 0, 255, 0.733);
    font-weight: bold;
}
footer{
    width: 90%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    background-color: #3333336c;
    padding: 20px;
    border-radius: 20px;
    border: white 2px double;
    box-shadow: -6px 7px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
    transition: all 1s;
}
footer .imgF {
    height: 6rem;
    width: 18rem;
    transform: translateX(7em);
}

footer .Fredes{
    margin-left: 40px;
    gap: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer .Ftelderechos{
    transform: translateX(8em);
}
footer .Fredes i{
    font-size: 2em;
}
footer li{
    color: white;
    font-size: 1.1em;
    list-style: none;
}
:root {
    --animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    --animation-duration: 1s;
    --animation-duration: 2s;
}
@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: var(--animation-timing-function);
        animation-timing-function: var(--animation-timing-function);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        animation-timing-function: var(--animation-timing-function);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: var(--animation-timing-function);
        animation-timing-function: var(--animation-timing-function);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        animation-timing-function: var(--animation-timing-function);
    }
    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: var(--animation-timing-function);
        animation-timing-function: var(--animation-timing-function);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: var(--animation-timing-function);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    }

    75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    }

    90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    }

    to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    }

    60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    }

    75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    }

    90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    }

    to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
.bounceInDown2 {
    -webkit-animation-duration: 3s; /* Duración específica para zoomIn */
    animation-duration: 3s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 1s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

.zoomIn {
    -webkit-animation-duration: 2s; /* Duración específica para zoomIn */
    animation-duration: 2s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.animated {
    -webkit-animation-duration: var(--animation-duration);
    animation-duration: var(--animation-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
    }

    60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    }

    75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    }

    90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    }

    to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
    }

    60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    }

    75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    }

    90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    }

    to {
-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}
.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}
@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
  }
  